<!-- templates/base.html -->
<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}Default Title{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>
	<main>
		<div class="header">
			<a href="{% url 'main_page' %}">Home</a>
			<a href="{% url 'create_post' %}">Create</a>
			{% block header %}{% endblock %}
		</div>

		<div class="content">
			{% block content %}{% endblock %}
		</div>
	</main>

	<footer>
		{% block footer %}{% endblock %}
	</footer>
</body>

</html>
